.title{
    
    display: table-cell;
    position: relative;
    left:5vw;
    
}

.budget{
    display: inline-block;
    position: absolute;
    right: 10px;
    top:45px
}

.rent-container{
    padding:20px;
}



.rented-movie{
    display: inline-block
}

.search{
    position: absolute;
    left: 20px;
    top:15px;
    
    margin:30px
}